@import "_base";
@import "_colors";
@import "_mixins";

.logo {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  @include desktop {
    top: 150px;
  }
}

.calculator {
  position: absolute;
  background-color: $white;
  border-radius: 25px 25px 0 0;
  height: 789px;
  width: 375px;
  top: 144px;
  left: 50%;
  transform: translate(-50%);
  @include desktop {
    top: 304px;
    left: 50%;
    transform: translate(-50%);
    height: 481px;
    width: 920px;
    border-radius: 25px;
    display: flex;
  }
  &__app {
    margin: 32px;
    @include desktop {
      height: 388px;
      width: 379px;
      margin: 48px;
    }
  }
  & .enter-number {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    font-size: 16px;
  }
  & #bill-error,
  & #people-error {
    text-align: right;
    color: #e17457;
    display: none;
  }
  section {
    margin-bottom: 32px;
  }
  &__bill-amount {
    background: url(/images/icon-dollar.svg) 5% no-repeat;
    @include input-box;
  }
  &__people-amount {
    background: url(/images/icon-person.svg) 5% no-repeat;
    @include input-box;
  }
  &__buttons {
    margin-top: 16px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  button {
    height: 48px;
    border: none;
    border-radius: 5px;
    background-color: $veryDarkCyan;
    color: $white;
    font-size: 24px;
    font-weight: 700;
    font-family: "Space Mono", monospace;
    cursor: pointer;
    @include desktop {
      width: 117px;
    }

    &:focus {
      background-color: $strongCyan;
      color: $veryDarkCyan;
      transition: 0.5s ease-in;
    }
  }
  & .custom {
    background-color: $veryLightGrayishCyan;
    color: $darkGrayishCyan;
    text-align: right;
    padding-right: 20px;
    font-weight: 700;
    @include input-box;
    @include desktop {
      padding-right: 0;
      text-align: center;
      padding-left: 2px;
    }
  }

  &__result {
    background-color: hsl(183, 100%, 15%);
    padding: 37px 24px;
    margin: 0 24px;
    border-radius: 12px;
    width: 327px;
    height: 257px;
    @include desktop {
      height: 417px;
      width: 413px;
      margin: 32px;
      padding: 50px 40px;
    }
    & .bill {
      display: flex;
      justify-content: space-between;
      align-items: center;
      row-gap: 20px;
      @include desktop {
        row-gap: 40px;
      }
    }
    & .text {
      color: white;
    }
    & .person {
      padding-bottom: 20px;
      font-size: 12px;
      color: $darkGrayishCyan;
      font-weight: 700;
    }
    & .amount {
      padding-bottom: 20px;
      font-size: 32px;
      color: $strongCyan;
      text-align: right;
    }
    & #tip-amount {
      padding-bottom: 20px;
    }
    & .reset {
      margin-top: 12px;
      width: 281px;
      text-transform: uppercase;
      text-align: center;
      font-size: 20px;
      color: $veryDarkCyan;
      background-color: $strongCyan;
      padding: 9px 0 9px 0;
      border-radius: 5px;
      cursor: pointer;
      @include desktop {
        margin-top: 122px;
        width: 100%;
      }
      &:active {
        background-color: #9fe8df;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
  a {
    color: hsl(228, 45%, 44%);
    display: none;
  }
}
